/* Estilos para el contenedor de etiquetas */
.tags-container {
    display: flex;
    flex-direction: row;
    margin-top: 12px;
    max-width: 70%;
    overflow-x: auto;
  }
.tags-container::-webkit-scrollbar{
    display: none;
}
  
  /* Estilos para cada etiqueta */
  .tags-container > div {
    /*background-color: rgba(0, 0, 0, 0.1);
    color: black;*/
    border-radius: 12px;
    padding: 4px 8px;
    margin-right: 4px;
    font-size: small;
    font-weight: bold;
  }
  