.head-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    padding: 0 8px;
    box-sizing: border-box;
    height: 40px;
    position: relative;
}

/*.after-head-container{
    content: "";
    position: absolute;
    z-index: -6;
    top: -10px;
    left: -10px;
    width: calc(100% + 20px) !important;
    height: 60px !important;
    background-color: #fff8b9;
}*/

.head-container span{
    font-weight: bold;
    font-size: large;
}

.head-container div{
    height: 100%;
    padding: 0 8px;
    width: 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-left: 1px solid #e0e0e0;
    box-sizing: border-box;
}
.head-container div span{
    font-weight: normal;
    font-size: large;
}

.view-container{
    width: 100%;
    height: calc(100% - 40px);
    padding: 8px 0 0 0;
    box-sizing: border-box;
}

@media (max-width: 450px){
    .head-container div{
        width: 20%;
    }
}