.positionContainer{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #4a90e2;
}
.buttonModal{
    display: flex;
    flex-direction: row;
    font-size: 14px;
    height: 36px;
    padding: 4px;
    box-sizing: border-box;
    cursor: pointer;
    padding-left: 32px;
}
.positionContainer > span:first-child{
    position: absolute;
}

.subModalContainer{
    max-width: 100%;
    background-color: #fff;
    border-radius: 4px;
    /*box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.14),
            0px 1px 5px 0px rgba(0, 0, 0, 0.12),
            0px 3px 1px -2px rgba(0, 0, 0, 0.2);*/
    position: absolute;
    padding: 8px;
    border: 1px solid lightgray;
    left: 0;
    bottom: 100%;
    width: 260px; 
    z-index: 20;
    display: flex;
    flex-direction: column;
}
.alarmaDataItem{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.genericButton{
    padding: 8px;
    border-radius: 4px;
    background-color: #1e90ff;
    color: #fff;
    font-size: 14px;
    box-sizing: border-box;
    cursor: pointer;
    border: 0;
}
.folderDataItem{
    padding: 4px;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.3); /* fondo oscuro con transparencia */
    z-index: 5;
}
.timeBlockItems{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}
.timeBlockItems > span{
    align-items: center;
    padding: 4px;
}
